{% extends 'blog/base.html' %} {% block content %}
<h1>블로그 게시판 화면</h1>
<p>블로그 게시판 첫 화면입니다.</p>
<a href="{% url 'blog:write' %}" class="btn">글 작성</a>
{% if posts %}
<table class="table table-bordered">
  <thead>
    <tr>
      <td>재목</td>
      <td>내용</td>
      <td>작성자</td>
    </tr>
  </thead>
  {% for post in posts %}
  <tr>
    <td><a href="{% url 'blog:detail' pk=post.pk %}">{{post.title}}</a></td>
    <td>{{post.content}}</td>
    <td>{{post.writer}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>작성된 게시물이 없습니다.</p>
{% endif %} {% endblock %}
